@model ScopeViewModel

<li class="list-group-item">
    <div class="toggle-button__input">
        <toggle-button>
            <input class="consent-scopecheck"
                   type="checkbox"
                   name="ScopesConsented"
                   id="scopes_@Model.Value"
                   value="@Model.Value"
                   checked="@Model.Checked"
                   disabled="@Model.Required" />
        </toggle-button>
    </div>
    <div class="toggle-button__text">
        @if (Model.Required)
        {
            <input type="hidden"
                   name="ScopesConsented"
                   value="@Model.Value" />
        }
        <strong>@Model.DisplayName</strong>
        @if (Model.Emphasize)
        {
            <span class="glyphicon glyphicon-exclamation-sign"></span>
        }
    </div>
    @if (Model.Required)
    {
        <div class="toggle-button__text">
            <span><em>(required)</em></span>
        </div>
    }
    @if (Model.Description != null)
    {
        <div class="consent-description">
            <label for="scopes_@Model.Value">@Model.Description</label>
        </div>
    }
</li>